@import url("../../styles/colors.css");
@import url("../../styles/base.css");

.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: var(--highlight);
  width: 100%;
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  color: #fff;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    line-height: 40px;
    h1 { font-size: 28px; }
  }

  .brand {
  	padding: 0 10px;
    text-align: right;
  }

  section {
  	padding: 0 10px;
    text-align: right;
  }
}