@import url("../../styles/base.css");

.app {  
/*  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
*/}

.wrapper {
  margin: 0;
  padding: 0;
  margin-top: var(--topbar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 100%;
}

.sidebar {
  width: 100%;
}